.page-title {
  margin: 0 0 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.list {
  margin: 1rem 0 0;
  padding: 0 2rem;
  background-color: #fcfcfd;
  border-radius: 0.5rem;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.button {
  margin: 1.5rem 0 0;
  padding: 0.875rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f6ed4;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.75px;
  border-radius: 6px;
  border: 2px solid transparent;
  text-decoration: none;
}

.button svg {
  height: 19px;
  width: 19px;
  margin-left: 6px;
  transition: transform 100ms ease;
}

.button:hover {
  background-color: #3863be;
  border-color: #3f6ed4;
}

.button:hover svg {
  transform: translateX(3px);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(65, 141, 203, 0.3);
  border-color: #2f62d0;
}

.empty {
  padding: 1.25rem 0 2rem;
  border-bottom: 2px solid #dbdee2;
}

.order-details {
  display: none;
}

.summary {
  margin: 3rem 0 0;
  display: flex;
  justify-content: flex-end;
}

.summary-container {
  max-width: 300px;
  width: 100%;
}

.summary h4 {
  margin: 0 0 1.25rem;
  font-size: 1.125rem;
}

.summary-item {
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
}

.summary-total {
  margin: 0.75rem 0 0;
  padding: 0.875rem 0 0.25rem;
  font-weight: 500;
  border-top: 1px solid #dbdee2;
}

.summary-total .summary-data {
  color: #2d9542;
}

@media (max-width: 940px) {
  .cart {
    padding: 0 1.25rem;
  }
}

@media (max-width: 800px) {
  .page-title {
    margin-top: 3rem;
  }

  .list {
    background-color: transparent;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .order-details {
    margin: 1rem 0 3rem;
    display: flex;
    justify-content: center;
    color: #6e788c;
  }

  .summary-container {
    max-width: unset;
  }

  .summary-total {
    border: none;
  }
}
