.item {
  padding: 0.75rem 3.25rem 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dbdee2;
}

.image {
  width: 3.75rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.image img {
  width: 2.625rem;
}

.details {
  width: 12.5rem;
  flex-shrink: 0;
}

.details h3 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.details p {
  margin: 0.1875rem 0 0 0;
  font-size: 0.875rem;
  font-weight: 400;
  color: #a8a8b5;
}

.quantity {
  flex-shrink: 0;
  width: 4rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  color: #3d3d48;
}

.quantity span {
  margin-right: 1rem;
  font-weight: 400;
  color: #a8a8b5;
}

.total {
  width: 4rem;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #3d3d48;
}

.total span {
  margin-top: -3px;
  margin-right: 2px;
  font-size: 0.75rem;
}

@media (max-width: 1000px) {
  .item {
    padding-right: 3rem;
  }
}

@media (max-width: 800px) {
  .item {
    padding-right: 0;
  }
}

@media (max-width: 425px) {
  .item {
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.75rem 0;
  }

  .quantity {
    justify-content: flex-end;
  }

  .total {
    width: 100%;
    text-align: right;
    margin-top: -1rem;
  }
}

@media (max-width: 380px) {
  .details {
    width: 50%;
  }
}
