.form {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 30rem;
  width: 100%;
}

.form-title {
  margin: 3.5rem 0 2.5rem;
  font-size: 1.125rem;
}

.form-items-row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 1rem;
}

.form-item {
  margin: 0 0 1.25rem;
  display: flex;
  flex-direction: column;
}

.form-item:last-of-type {
  margin: 0;
}

.label {
  margin: 0 0 0.25rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #36383e;
}

.button {
  margin: 0;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f6ed4;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.75px;
  border-radius: 6px;
  border: 2px solid transparent;
  text-decoration: none;
}

.button:hover {
  background-color: #3863be;
  border-color: #3f6ed4;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(65, 141, 203, 0.3);
  border-color: #2f62d0;
}

@media (max-width: 800px) {
  .form {
    margin: 2rem 0 0;
    padding: 2.25rem 1.25rem;
    max-width: unset;
    background-color: #fcfcfd;
    border-radius: 0.5rem;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .form-title:first-of-type {
    margin-top: 0;
  }
}
