.instructions h2,
.instructions h3 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
}

.instructions h4 {
  margin: 5rem 0 0;
  font-size: 1.125rem;
  font-weight: 500;
}

.instructions p {
  margin: 0;
  max-width: 600px;
  font-size: 1rem;
  color: #6e788c;
  line-height: 1.75;
}

.instructions p span {
  text-decoration: underline;
}

.instructions a {
  color: #576366;
}

.instructions a:hover {
  color: #343b3d;
}

@media (max-width: 800px) {
  .instructions {
    margin: 3rem 0 0;
  }
}

@media (max-width: 768px) {
  .instructions h4 {
    margin: 4rem 0 0;
    font-size: 1.5rem;
    text-align: center;
  }
}
