.container {
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 424px);
}

.row {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* NEW STUFF */
  background-color: #fcfcfd;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.image {
  margin: 1.5rem 0;
  padding: 0.5rem 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fcfcfd;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  border-right: 1px solid #e5e7eb;
}

.image img {
  max-width: 250px;
  width: 100%;
}

.details {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-title {
  margin: 0 0 0.75rem;
  font-size: 1.125rem;
}

.price {
  margin: 0;
  font-size: 1rem;
  color: #059669;
}

.form {
  margin: 2rem 0 0;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.size {
  margin: 1rem 0 0;
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 0 0.25rem;
  font-weight: 500;
  color: #6e788c;
}

.select {
  padding: 0 0.875rem;
  height: 42px;
  width: 100%;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  color: #36383e;
}

.button {
  margin: 1.125rem 0 0;
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3f4a;
  color: #f3f4f5;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.0375em;
  border: 2px solid transparent;
}

.button:hover {
  background-color: #31363f;
  border-color: #484a52;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(149, 152, 162, 0.35);
  border-color: #303137;
}

.error {
  margin: 0.375rem 0 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #de1d3b;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }

  .image {
    margin: 0 1.5rem;
    padding: 2rem;
    width: calc(100% - 3rem);
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
  }

  .image img {
    max-width: 175px;
  }

  .details {
    margin: 2.5rem 0 3rem;
    width: 100%;
    align-items: center;
  }

  .item-title,
  .price {
    text-align: center;
  }
}
