.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.sidebar {
  max-width: 30rem;
  width: 100%;
  padding-left: 2.5rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.sidebar.open {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.heading {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid #f1f2f4;
}

.heading h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #36383e;
}

.close-btn {
  background-color: transparent;
  color: #9fa6b2;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  color: #6b7280;
}

.close-btn svg {
  height: 1.5rem;
  width: 1.5rem;
}

.scrollable {
  overflow-y: auto;
}

.list {
  margin: 0 2rem;
  padding: 0;
  list-style-type: none;
}

.item {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f1f2f4;
  color: #36383e;
}

.details {
  width: 60%;
  display: flex;
  align-items: center;
}

.image {
  margin-right: 1rem;
  width: 1.5rem;
}

.text {
  margin: 0.25rem 0 0;
}

.primary {
  font-size: 0.875rem;
  font-weight: 500;
}

.secondary {
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #9aa2ad;
}

.quantity {
  font-weight: 500;
  font-size: 0.875rem;
}

.subtotal {
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
}

.subtotal span {
  margin-top: -3px;
  margin-right: 2px;
  font-size: 0.75rem;
}

.footer {
  padding: 0 1.5rem 1.5rem;
  margin: 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  font-weight: 500;
  font-size: 1.25rem;
}

.total span {
  margin-right: 0.5rem;
  color: #bdbdc7;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.button {
  margin: 2rem 0 0;
  padding: 0.75rem 1.5rem 0.625rem;
  display: flex;
  align-items: center;
  background-color: #3f6ed4;
  font-family: 'Gotham Rounded', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.75px;
  border-radius: 6px;
  border: 2px solid transparent;
  text-decoration: none;
}

.button svg {
  height: 19px;
  width: 19px;
  margin-left: 6px;
  transition: transform 100ms ease;
}

.button:hover {
  background-color: #3863be;
  border-color: #3f6ed4;
}

.button:hover svg {
  transform: translateX(3px);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(65, 141, 203, 0.3);
  border-color: #2f62d0;
}
