.container {
  width: 100%;
}

.page-title,
.page-description {
  text-align: center;
}

.page-title {
  margin: 0 auto 1rem;
}

.page-description {
  margin: 0;
  font-size: 1rem;
}

.items {
  margin: 5rem 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 1.5rem;
}

.item {
  margin: 0 0 3rem;
  width: 100%;
  background-color: #fcfcfd;
  border-radius: 0.5rem;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.link {
  text-decoration: none;
}

.link:hover .img img {
  transform: scale(1.03);
}

.img {
  margin: 0 auto;
  padding: 2rem 1rem;
  width: calc(100% - 32px);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e7eb;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.img img {
  max-width: 175px;
  width: 100%;
  height: 100%;
  transition: transform 150ms ease-in-out;
}

.details {
  padding: 1rem;
}

.primary,
.secondary {
  margin: 0 0 0.24rem;
  line-height: 1.25;
}

.primary {
  font-size: 0.875rem;
  color: #36383e;
}

.secondary {
  font-size: 0.875rem;
  font-weight: 500;
  color: #9e9eac;
}

.price {
  margin: 1.25rem 0 0;
  color: #36383e;
}

@media (max-width: 800px) {
  .container {
    margin: 3rem 0 0;
  }
}

@media (max-width: 700px) {
  .page-title,
  .page-description {
    padding: 0 1.25rem;
  }

  .items {
    grid-template-columns: 1fr 1fr;
  }

  .link:nth-of-type(odd) .item {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .link:nth-of-type(even) .item {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .details {
    padding: 1rem 0.75rem;
  }

  .primary,
  .secondary,
  .price {
    font-size: 0.875rem;
  }
}
